@import "scss/config.scss";


.cart__main {
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
}

.cart__item {
    display: flex;
    flex-direction: column;
}

.item__content {
    background-color:color(litur_hvitur);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__footer {
    padding-bottom: 10px;
}


.cart__title {
    margin-top: 1em;
}

.item__title {
    font-family: font(heading_font);
    font-size: 1.5rem; 
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.item__text {
    font-family: font(main_font);
    font-size: 1rem;
}

.item__price {
    font-family: font(heading_font);
    font-size: 1.3125em;
    font-weight: bold;
    margin-bottom: 0.5em;
}


.item__input {
    display: flex;
    align-items: flex-end;
    margin-left: 2px;
    margin-right: 2px;
}


.item__image {
    margin: 1em 0;

    .item__img {
        width: 100%
    }
}


.cart__fieldset {
    input {
        border: 1px solid color(litur_svartur);
        padding: 18px 10px;
        font-size: 12px;
        margin-right: 1em;
    }
}

.card__button {
    background-repeat: no-repeat;
    font-size: 1.3125em;
    padding: 0;
    width: 100%;
}

.item__button {
    display: flex;
    flex-direction: row;

    background-color: color(litur_hvitur);
    border: 1px solid color(litur_svartur);
    border-radius: 3px;

    transition: 
        background-color 300ms ease-in-out,
        border 300ms ease-in-out;
    
    padding: 10px 10px;
    font-size: 12px;
    margin: 0;

    p {
        padding-left: 1em;
    }
}

.item__button:hover {
    background-color: color(litur_bleikur);
    border: 1px solid color(litur_bleikur);
}

.button__img {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
}









.cart__info {
    display: flex;
    flex-direction: column;
    
    // margin: 0 auto; Þetta er bara fyrir stærri upplausnir
}

.info__form {
    margin-top: 2em;
    
}

.form__list {
    display: flex;
    flex-direction: row;

    .form__date {
        padding-right: 1em;
    }
}

input {
    width: 12em;
    height: 2.5em;
    border-radius: 3px;
    border: 1px solid color(litur_svartur);
    padding: 18px 10px;
    font-size: 12px;
    
}

.cart__buy {
    margin: 1em auto;

    button {
        background-color: color(litur_bleikur);
        font-size: 1.3125em;
        border-radius: 5px;
        transition: 
          background-color 300ms ease-in-out,
          color 300ms ease-in-out;
        margin-bottom: 1em;
        padding: 10px 4em;
        width: 100%;
      }
    
      button:hover {
        background-color: color(litur_svartur);
        color: color(litur_bleikur);
      }
}



@media screen and (min-width: $bp_tablet) {
    .cart__item {
        flex-direction: row;
    }

    .item__image {
        width: 33.3333333333333333%;
        padding-right: 13px;
    }

    .item__content {
        width: 60.6666666666666667%;
        padding-left: 10px;
    }

    .cart__info {
        flex-direction: row;    // hlið við hlið
        margin: 0 auto;         // miðjujafna
        
        .info__form {
            padding-right: 1em;
        }
    }
}