@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


$colors: (
  litur_svartur: #000,
  litur_hvitur: #fff,
  litur_graenn: #afb281,
  litur_ljosblar: #cee8ff,
  litur_gulur: #fcffd2,
  litur_bleikur: #cc9694,
);

$fonts: (
  main_font: ('Open Sans', Helvetica, Arial, sans-serif),
  heading_font: ('Oswald', Verdana, serif),
);

$bp_tablet: 768px;

@function color($color-name) {
  @return map-get($colors, $color-name)
};

@function font($font-name) {
  @return map-get($fonts, $font-name)
};