@import "config.scss";

header {
    background-color: color(litur_graenn);
  
    h1 {
      font-family: font(heading_font);
      font-weight: bold;
      text-align: center;
      font-size: 3.75em;
    }

    ul {
        list-style: none;

        li {
            padding: 0.875em;
        }
    }

    a {
        color: color(litur_svartur);
        text-decoration: none;
        font-size: 0.875em;
        transition: color 300ms ease-in-out;
      }
  
      a:hover {
        color: color(litur_hvitur);
      }
}

.navbar {
    margin: 0 auto;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav__row {
    display: flex;
    flex-direction: column;
    //padding-right: 10px;
    //padding-left: 10px;
}

.nav__list {
    display: flex;
    margin: 0 auto;
    //margin-left: 25%;

    a {
        text-transform: uppercase;
        font-weight: bold;
    }
}

.nav__cart {
    display: flex;
    margin: 1em auto;
    margin-top: 0;

    img {
        height: 1em;
        width: 1em;
        margin-right: 0.75em;
    }
}

.active {
    text-decoration: underline;
}

@media screen and (min-width: $bp_tablet) {
    header {
        h1 {
            font-size: 3em;
        }
    }

    .nav__row {
        flex-direction: row;
    }

    .nav__list {
        margin: 0;
        margin-left: 25%;
        align-items: center;
        width: 50%;
        justify-content: center;
    }

    .nav__cart {
        margin: 0;
        width: 25%;
        justify-content: flex-end;
        align-items: center;
    }
}