@import "config.scss";

.card {
    max-width: 380px;
    max-height: 600px;
    background-color:lightblue;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card__image {
    overflow: hidden;
}

.card__img {
    max-width: 100%;
}


.card__title {
    font: fonts(heading_font);
    font-size: 1.5rem;
    font-style: bold;
}


.card__text {
    font: fonts(main_font);
    font-size: 0.75rem;
}

.card__price {
    font-size: 1rem;
    font-style: bold;
}

.card__form {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
  

/*
.card__fieldset {

}
*/

.card__button {
    padding-left: 20px;
    flex: 0 0 150px;
    overflow: hidden;
}

.button__img {

    max-width: 100%;
}
  