@import "config.scss";


// útlit á síðunni


.cards__container {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1240px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
}


.card__row {
    display: flex;
    flex-wrap: wrap;
    margin: 1em -10px 2em -10px;
    justify-content: center;
}

.card__col {
    padding-right: 0.625em;  // 10px
    padding-left: 0.625em;   // 10px
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}



// útlit á kortunum sjálfum

.card {
    max-width: 380px;
    max-height: 600px;
    background-color:lightblue;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card__image {
    overflow: hidden;
}

.card__img {
    max-width: 100%;
}


.card__title {
    font: fonts(heading_font);
    font-size: 1.3125rem; 
    font-style: bold;
}


.card__text {
    font: fonts(main_font);
    font-size: 1rem;
}

.card__price {
    font-size: 1rem;
    font-style: bold;
}

.card__form {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card__button {
    padding-left: 20px;
    flex: 0 0 150px;
    overflow: hidden;
}

.button__img {

    max-width: 100%;
}
  

.card__number {
    display: flex;
    flex-direction: column;
}




@media screen and (min-width: $bp_large) {
    .card__row {
        margin-left: 0;
        margin-right: 0;
    }
    
    .card__col {
        width: 33%;
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media screen and (min-width: $bp_tablet) {
    .card__row {
        margin-left: 0;
        margin-right: 0;
    }
    
    .card__col {
        width: 50%;
        padding-right: 10px;
        padding-left: 10px;
    }
}