@import "config.scss";

.cards__container {
    overflow: hidden;
    max-width: 1240px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: space-around;
}


.card__row {
    display: flex;
    flex-wrap: wrap;
    margin: 1em -10px 2em -10px;
}

.card__col {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-bottom: 20px;
}
