

.card {
    width: 100%;
    max-width: 380px;
    max-height: 600px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.card__image {
    flex: 0 1 auto;
    overflow: hidden;
    flex-grow: 2;
    margin-bottom: 400px;
}

.card__img {
    max-width: 100%;
}


.card__title {
    margin-bottom: 20px;
    font-size: 1.375em;
    line-height: 1;
    word-break: break-word;
}

.card__text {
    display: none;
    font-size: 1em;
    line-height: 1.375;
    overflow: auto;
    word-break: break-word;
}

.card__price {
    display: none;

}

.card__form {
    display: none;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  

  
.card__img {
    display: none;
    max-width: 100%;
}

.card__fieldset {
    display: none;

}

.card__button {
    display: none;
    padding-left: 20px;
    flex: 0 0 150px;
    overflow: hidden;
}

.button__img {
    display: none;
    max-width: 100%;
}
  