@import "config.scss";

.cards {
    overflow: hidden;
}

.cards__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
  
.cards__col {
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1200px;
}


