@import "config.scss";

//uppröðun á kortum

// barn fyllir alltaf upp í foreldri


.staff__face.back{
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
}

//útlit á kortum og hover
.staff{
    position: relative;
}
.staff__card{
   transform-style: preserve-3d;
    transition: transform 0.2s linear;
}

.staff__content {
    display: flex;
}

.staff__card:hover {
    transform: rotateY(180deg);
}

.staff__face{
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
}

.staff__face.front {
    position: absolute;
}

.staff__face .back{
    display: block;
    position: absolute;
    transform: rotateY(180deg); //sjáum ekki bakhliðina strax
}

.staff__cards {
    overflow: hidden;
    background-color: color(litur_hvitur);

    margin: 0 auto;
    max-width: 1240px;
    padding-left: 10px;
    padding-right: 10px;
}


// útlit á síðu í mismunandi stærðarhlutföllum

.staff__row {
    display: flex;
    flex-wrap: wrap;

    margin: 2em -10px 2em -10px;
}
  
.staff__col {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.staff__img {
    width: 100%;
}

@media screen and (min-width: $bp_tablet) {
    .staff__row {
        margin-left: 0;
        margin-right: 0;
    }
    
    .staff__col {
        width: 50%;
        padding-right: 10px;
        padding-left: 10px;
    }
}