@import "scss/config";
@import "scss/footer";
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  // TODO fleiri grunn stillingar
  font-size: 16px;
  font-family: font(mainfont);
}

// TODO sækja allar sass skrár
// @import "scss/...";

$colors: (
  litur1: #000,
  litur2: #fff,
  litur3: #afb281,
  litur4: #cee8ff,
  litur5: #fcffd2,
  litur6: #cc9694,
);

@function color($color-name) {
  @return map-get($colors, $color-name)
};

$fonts: (
  mainfont: ('Open Sans', Helvetica, Arial, sans-serif),
  headingfont: ('Oswald', Verdana, serif),
);

@function font($font-name) {
  @return map-get($fonts, $font-name)
};


header {
  background-color: color(litur3);

  h1 {
    font-family: font(headingfont);
    font-weight: bold;
    text-align: center;
    font-size: 3em;

    padding-top: 0em;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    font-family: font(mainfont);

    .navbar__main {
      margin: 0 auto;

      ul {
        display: flex;

        li {
          padding: 0.875em;

          a {
            text-transform: uppercase;
            font-weight: bold;
          }
        }
      }
    }

    //.navbar__cart {

    //}

    ul {
      list-style: none;
    }

    a {
      color: color(litur1);
      text-decoration: none;
      font-size: 0.875em;
      transition: color 300ms ease-in-out;
    }

    a:hover {
      color: color(litur2);
    }
  }
}


.grid {
  .grid__row {
    display: flex;
    flex-direction: column;

    margin-right: -0.625em;
    margin-left: -0.625em;

    .grid__col {
      width: 100%;
      padding-right: -0.625em;
      padding-left: -0.625em;
    }
  }
}


footer {
  background-color: color(litur6);
  display: flex;
  flex-direction: column;

  .lists {
      display: flex;
      justify-content: space-around;
  
      ul {
          list-style: none;
          padding: 1em;
  
          h3 {
              margin-bottom: 1em;
              font-family: font(mainfont);
              font-weight: bold;
          }
  
          li {
              line-height: 1.5em;
  
              a {
                  text-decoration: none;
                  color: color(litur5);
                  transition: color 300ms ease-in-out;
              }
  
              a:hover {
                  color: color(litur1);
              }
          }
      }
  }

  p {
      text-align: center;
      margin: 1em;
      padding-bottom: 1em;
      font-size: 0.875em;
  }
}